@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;600;900&display=swap");
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-image: url("https://s3.ap-south-1.amazonaws.com/kalvi-education.github.io/front-end-web-development/superover-bg.png");
    background-size: cover;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    color: white;
}
.heading{
    margin-top: 25px;
    margin-bottom: 95px;
    margin-left: 1%;
    justify-content: center;
}
h1{
    font-size: 80px;
    font-weight: bold;
}
.content{
    display: flex;
    justify-content: center;
}
.box1{
    padding: 1%;
    border-radius: 20px;
    background-color: #005fa2;
    margin-right: 70px;
    padding: 20px;
}
.box2{
    padding: 1%;
    border-radius: 20px;
    background-color: #1fa83d;
    margin-left: 70px;
}
.ball{
    display: inline-block;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: white;
    margin: 5px;
    margin-bottom: 30px;
}
.ind, .pak{
    margin-bottom: 30px;
}
p{
    font-size: 100px;
    font-weight: bolder;
}
.score{
    font-size: 50px;
    font-weight: bold;
}
.bat, .replay{
    padding: 3%;
    margin-top: 30px;
}
.footer{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
